<div class="main" #main>
  <div class="items-container" #items appScrollHandler (onScroll)="itemsScroll($event)">
    <div class="item" *ngFor="let event of events" (click)="itemClick(event)">
      <div class="image-container"><img [src]="imagesUrl + event.imageIds[0] + '.jpg'" [alt]="event.name"></div>
      <div class="text-container">
        <p class="rating"> <mat-icon [inline]="true">star</mat-icon> {{event.rating}}</p>
        <p class="name">{{event.name}}</p>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <button mat-mini-fab color="basic" (click)="navClick('left')" class="left"
      style="width:2rem;height:2rem;background-color:white;"
      [@showHide]="scroll.left ? 'shown' : 'hidden'"><mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="navClick('right')" class="right"
      style="width:2rem;height:2rem;background-color:white;"
      [@showHide]="scroll.right ? 'shown' : 'hidden'"><mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>