.example-form-field {
    position: absolute;
left: 22px;
top: 77px;

background: #EBEBEB;
border-radius: 10px;
  }
  .example-chip-list {
position: absolute;
left: 322px;
top: 77px;

background: #EBEBEB;
border-radius: 10px;
  }